@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #16ad5f;
  --primary-dark: #004d26;
  --accent: #f2c94c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-accent: var(--accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}
* {
  @apply md:transition-all md:ease-in-out md:duration-200;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.photoset {
  padding: 2px;
 grid-column: auto;
}
.photo {
  position: relative;
  flex-grow: 10;
  min-width: calc(100% / 4);
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 700px) {
    min-width: calc(100% / 2);
  }
  @media screen and (max-width: 460px) {
    min-width: 100%;
  }
  &:after {
    padding-top: 83.33333%;
    display: block;
    content: "";
  }
  &:before {
    z-index: 2;
    position: absolute;
    content: "";
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    box-shadow: inset 0 0 0 2px #ffffff;
  }
  &:nth-child(1) {
    width: 100%;
  }
}

&.square .photo:after {
  padding-top: 100%;
}
&.portrait .photo:after {
  padding-top: 120%;
}


/* Animasi untuk Progress Bar yang bergerak terus-menerus */
@keyframes progress-bar {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.animate-progress-bar {
  animation: progress-bar 4s linear infinite;
}

/* Menambahkan animasi marquee untuk teks berjalan */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}
